@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

a {
    text-decoration: none;
    color: #39a;
}
a:hover {
    text-decoration: none;
    color: #aa4433;
}

h1, h2, h3, h4, h5, h6{
    line-height: 0px; 
    font-weight: 400;
    text-decoration: none;
}

h1 { font-size: 48px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

hr {
  border-color: #35373A; }

@media (min-width: 768px) {
    body {
	margin: 0 16.667%;
    }
}

header {
    text-align: center;
}

nav {
    display: block;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

nav li {
    display: inline;
    float: center;
    padding: 1em;
    position: relative;
}
  
nav li a {
    text-decoration: none;
    display: inline-block;
}

nav ul li:hover {
    cursor: default;
    text-decoration: underline;
    color: darkred;
}

nav ul li ul {
    visibility: hidden;
    min-width: 160px;
    position: absolute;
    text-align: left;
    left: 0;
    z-index: 999;
    background: white;
    padding: 0.125em 0.5em 0.5em 0;
    border-radius: 8px;
}

nav ul li:hover > ul,
nav ul li ul:hover {
    visibility: visible;
}

nav ul li ul li {
    clear: both;
    padding: 0 0 0 1em;
    width: 100%;
    display: block;
}

nav ul li ul li a:hover {
    text-decoration: none;
    color: red;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.4;
}

pre, code {
    display: block;
    word-wrap: break-word;
}

img {
    max-width: 100%;
}

footer {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

body {
  padding: 45px 15px;
  color: #2f4f4f;
  line-height: 1.5em;
  font-size: 14px;
  text-align: left;
  font-family: 'Source Code Pro', serif ; 
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
  body * {
    box-sizing: border-box; }
